.App {
  background-color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ebfaff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #c2f0ff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #cccccc;
}

::-webkit-scrollbar-track:active {
  background: #bababa;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.Auth-form-container {
  display: flex;
  background: rgb(0, 3, 195);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 195, 1) 0%,
    rgba(203, 0, 202, 1) 100%
  );
  /* justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  height: 100%;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20%;
  border-radius: 8px;
  background-color: white;
}

.Auth-image-out {
  display: flex;
  margin: auto;
}

.Auth-form-content {
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Landing-container {
  height: 100vh;
  background: rgb(62, 120, 245);
  background: linear-gradient(
    0deg,
    rgb(182, 205, 255) 0%,
    rgb(255, 255, 255) 100%
  );
}

#loginButton {
  margin: 0px 15px;
}

form {
  margin-top: 1.5vh;
}

.first {
  display: flex;
  margin-top: 0;
}

.text-first-section {
  margin: 15% 5%;
}

h1 {
  font-size: 56pt;
  font-weight: bold;
}

h5 {
  font-size: 18pt;
  font-weight: lighter;
}

.avatars {
  margin: 0% 5% 0% 7%;
}

#saiba-mais {
  margin-left: 5%;
}

.buttons {
  margin-top: 5%;
}
